<ion-view title="Perfil" id="perfil">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <ion-item class="item-avatar">
        <img src="{{petPerfil.imgURL}}">
        <h2>{{petPerfil.nome}}</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="{{petPerfil.imgURL}}" style='display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;'">
      </div>
      <div class="item item-body">
        <divclass="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;"> {{petPerfil.descricao}}</p>
        </div>
      </div>
      <div class="spacer" style="width: 300px; height: 41.9886px;"></div>

      <ion-item class="item-avatar">
        <img src="{{petPerfil.user.foto}}">
        <h2>Responsável: {{petPerfil.user.nome}}</h2>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-email"></i> {{petPerfil.user.email}} </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-location"></i>{{petPerfil.estado}}</ion-item>
    </div>
    <div ng-if="!donoDaPostagem" >
      <a>
      <button id="enviarMensagem" ng-click="enviarMensagem(petPerfil, petKey)"  class="button button-assertive  button-block"> Envie uma mensagem</button>
      </a>
    </div>
    <div ng-if="donoDaPostagem">
      <button id="marcarAdotado" ng-click="marcarAdotado(petPerfil, petKey)" class="button button-assertive  button-block">Marcar como adotado</button>
    </div>
  </ion-content>
</ion-view>
