<ion-view id="tab">
  <ion-tabs class="tabs-assertive tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Adote" icon="ion-home" ui-sref="tabs.adote" id="tabs-adote">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Instapet" icon="ion-social-instagram" ui-sref="tabs.instaPet" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Meus Pets" icon="ion-social-octocat" ui-sref="tabs.meuspets" id="tabs-meuspets">
      <ion-nav-view name="meusPets"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Add Pet" icon="ion-android-add-circle" ui-sref="tabs.addPet" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Chat" icon="ion-ios-chatboxes" ui-sref="tabs.chat" id="tabsController-tab5" >
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
